.blue {
    background-color: #E4ECF8;
    display: block;
    margin-bottom: 1em;
    margin-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em
    }
.bu {
    color: black;
    float: left;
    margin-left: -1em
    }
.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre2 {
    display: block;
    margin-top: 1em
    }
.calibre3 {
    text-decoration: none
    }
.calibre4 {
    font-weight: bold
    }
.calibre5 {
    font-style: italic
    }
.calibre6 {
    display: block;
    margin-top: 5em
    }
.calibre7 {
    display: block;
    margin-top: 10em
    }
.calibre8 {
    display: inline-block;
    height: auto;
    width: auto
    }
.calibre9 {
    display: block;
    margin-top: 2em
    }
.calibre10 {
    display: block
    }
.calibre11 {
    line-height: 1.2;
    text-decoration: none
    }
.calibre12 {
    font-size: 0.625em;
    line-height: normal;
    vertical-align: sub
    }
.calibre13 {
    font-size: 0.75em
    }
.calibre14 {
    color: black;
    text-decoration: none
    }
.calibre15 {
    display: block;
    page-break-after: always
    }
.calibre16 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    page-break-before: always
    }
.calibre17 {
    font-style: italic;
    line-height: 1.2
    }
.calibre18 {
    display: block;
    margin-top: 0.5em
    }
.calibre19 {
    display: table-column-group
    }
.calibre20 {
    display: table-column
    }
.calibre21 {
    display: table-row;
    vertical-align: middle
    }
.calibre22 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: top
    }
.calibre23 {
    display: inline-block;
    height: auto;
    vertical-align: middle;
    width: auto
    }
.calibre24 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    font-size: 0.83333em;
    margin-bottom: 1em;
    margin-top: 0;
    text-indent: 0
    }
.calibre25 {
    color: black;
    font-style: italic
    }
.calibre26 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre27 {
    color: black;
    font-weight: bold
    }
.calibre28 {
    color: black;
    display: block
    }
.calibre29 {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre30 {
    display: block;
    margin-top: 0.3em
    }
.calibre31 {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: sub
    }
.copyowner {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: block;
    font-size: 0.83333em;
    padding-bottom: 5px;
    text-align: left
    }
.dgreen {
    background-color: #C8D8C9;
    display: block;
    padding-bottom: 7em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 5em
    }
.dwhite {
    background-color: white;
    border-bottom-color: #2A7B46;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-left-color: #2A7B46;
    border-left-style: solid;
    border-left-width: 5px;
    border-right-color: #2A7B46;
    border-right-style: solid;
    border-right-width: 5px;
    border-top-color: #2A7B46;
    border-top-style: solid;
    border-top-width: 5px;
    display: block;
    margin-top: 3em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em
    }
.fig {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.figure-aligncenter-indent {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.glo {
    display: block;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: -2em
    }
.gre {
    background-color: #B6CCB7;
    display: block;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em
    }
.gre1 {
    background-color: #D8E3D8;
    border-bottom-color: #2A7B46;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-left-color: #2A7B46;
    border-left-style: solid;
    border-left-width: 5px;
    border-right-color: #2A7B46;
    border-right-style: solid;
    border-right-width: 5px;
    border-top-color: #2A7B46;
    border-top-style: solid;
    border-top-width: 5px;
    display: block;
    margin-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em
    }
.gre1a {
    background-color: #B6CCB7;
    border-bottom-color: #558D61;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-left-color: #558D61;
    border-left-style: solid;
    border-left-width: 5px;
    border-right-color: #558D61;
    border-right-style: solid;
    border-right-width: 5px;
    border-top-color: #558D61;
    border-top-style: solid;
    border-top-width: 5px;
    display: block;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em
    }
.greaa {
    background-color: #D8E3D8;
    display: block;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em
    }
.green {
    background-color: #B4D2D5;
    display: block;
    padding-bottom: 7em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 5em
    }
.green1 {
    background-color: #A7CBCE;
    display: block;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em
    }
.green1a {
    background-color: #A7CBCE;
    border-bottom-color: #4D8D8E;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-left-color: #4D8D8E;
    border-left-style: solid;
    border-left-width: 5px;
    border-right-color: #4D8D8E;
    border-right-style: solid;
    border-right-width: 5px;
    border-top-color: #4D8D8E;
    border-top-style: solid;
    border-top-width: 5px;
    display: block;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em
    }
.green2 {
    background-color: #D0E3E7;
    display: block;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em
    }
.green3 {
    background-color: #D0E3E7;
    border-bottom-color: #00797E;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-left-color: #00797E;
    border-left-style: solid;
    border-left-width: 5px;
    border-right-color: #00797E;
    border-right-style: solid;
    border-right-width: 5px;
    border-top-color: #00797E;
    border-top-style: solid;
    border-top-width: 5px;
    display: block;
    margin-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em
    }
.greend {
    border-bottom-color: #00A6B2;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-left-color: #00A6B2;
    border-left-style: solid;
    border-left-width: 5px;
    border-right-color: #00A6B2;
    border-right-style: solid;
    border-right-width: 5px;
    border-top-color: #00A6B2;
    border-top-style: solid;
    border-top-width: 5px;
    display: block;
    margin-bottom: 1em;
    margin-top: 1em
    }
.ind {
    display: block;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: -1em
    }
.indh {
    color: #E0294E;
    display: block;
    font-size: 1.29167em;
    line-height: 1.2;
    margin-bottom: 0.3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.li {
    background-color: #FDF1E7;
    color: black;
    display: table-cell;
    font-family: sans-serif;
    font-size: 1em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1px;
    padding-top: 0.5em;
    text-align: inherit;
    vertical-align: top
    }
.li1 {
    background-color: #FDF1E7;
    color: black;
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-top: 0.5em
    }
.lic {
    background-color: #FDF1E7;
    color: black;
    display: table-cell;
    font-family: sans-serif;
    font-size: 1em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1px;
    padding-top: 0.5em;
    text-align: center;
    vertical-align: top
    }
.num {
    float: left;
    margin-left: -2em
    }
.num1 {
    float: left;
    margin-left: -5em
    }
.numa {
    float: left;
    margin-left: -3em
    }
.ogreen {
    background-color: #F5AB88;
    display: block;
    padding-bottom: 7em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 5em
    }
.or {
    background-color: #FDE3D0;
    color: black;
    display: table-cell;
    font-family: sans-serif;
    font-size: 1em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1px;
    padding-top: 0.5em;
    text-align: inherit;
    vertical-align: top
    }
.orange {
    background-color: #F4D8C8;
    display: block;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em
    }
.orange1 {
    background-color: #F4D8C8;
    border-bottom-color: #D46C44;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-left-color: #D46C44;
    border-left-style: solid;
    border-left-width: 5px;
    border-right-color: #D46C44;
    border-right-style: solid;
    border-right-width: 5px;
    border-top-color: #D46C44;
    border-top-style: solid;
    border-top-width: 5px;
    display: block;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em
    }
.orange2 {
    background-color: #F4D8C8;
    border-bottom-color: #E74D25;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-left-color: #E74D25;
    border-left-style: solid;
    border-left-width: 5px;
    border-right-color: #E74D25;
    border-right-style: solid;
    border-right-width: 5px;
    border-top-color: #E74D25;
    border-top-style: solid;
    border-top-width: 5px;
    display: block;
    margin-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em
    }
.orc {
    background-color: #FDE3D0;
    color: black;
    display: table-cell;
    font-family: sans-serif;
    font-size: 1em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1px;
    padding-top: 0.5em;
    text-align: center;
    vertical-align: top
    }
.org {
    background-color: #F2D6D2;
    display: block;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em
    }
.orl {
    background-color: #FDE3D0;
    color: black;
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0.5em;
    padding-left: 2em;
    padding-top: 0.5em
    }
.orl1 {
    background-color: #FDE3D0;
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: black;
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0.5em;
    padding-left: 2em;
    padding-top: 0.5em
    }
.owhite {
    background-color: white;
    border-bottom-color: #E74D25;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-left-color: #E74D25;
    border-left-style: solid;
    border-left-width: 5px;
    border-right-color: #E74D25;
    border-right-style: solid;
    border-right-width: 5px;
    border-top-color: #E74D25;
    border-top-style: solid;
    border-top-width: 5px;
    display: block;
    margin-top: 3em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em
    }
.sandle {
    background-color: #F1E3CE;
    display: block;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em
    }
.sandle1 {
    background-color: #F1E3CE;
    border-bottom-color: #E0A344;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-left-color: #E0A344;
    border-left-style: solid;
    border-left-width: 5px;
    border-right-color: #E0A344;
    border-right-style: solid;
    border-right-width: 5px;
    border-top-color: #E0A344;
    border-top-style: solid;
    border-top-width: 5px;
    display: block;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em
    }
.sandle2 {
    background-color: #FBF2E2;
    display: block;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em
    }
.sandle3 {
    background-color: #F9EBD5;
    display: block;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em
    }
.sandle4 {
    background-color: #F9EBD5;
    border-bottom-color: #E0A344;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-left-color: #E0A344;
    border-left-style: solid;
    border-left-width: 5px;
    border-right-color: #E0A344;
    border-right-style: solid;
    border-right-width: 5px;
    border-top-color: #E0A344;
    border-top-style: solid;
    border-top-width: 5px;
    display: block;
    margin-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em
    }
.tab {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    font-family: sans-serif;
    font-size: 0.83333em;
    margin-bottom: 1em;
    margin-top: 0;
    text-indent: 0
    }
.tab1 {
    background-color: #FCEAE8;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 1px;
    color: black;
    display: table-cell;
    font-family: sans-serif;
    font-size: 1em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1px;
    padding-top: 0.5em;
    text-align: inherit;
    vertical-align: top
    }
.tab1a {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    font-size: 0.83333em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-top: 0;
    text-indent: 0
    }
.tab1g {
    background-color: #A7CBCE;
    display: table-cell;
    font-family: sans-serif;
    font-size: 1em;
    margin-top: 0;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    text-align: inherit;
    vertical-align: top
    }
.tab1v {
    background-color: #C7BDD3;
    display: table-cell;
    font-family: sans-serif;
    font-size: 1em;
    margin-top: 0;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    text-align: inherit;
    vertical-align: top
    }
.tab1v1 {
    background-color: #C7BDD3;
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em
    }
.tab2 {
    background-color: #FDE3D0;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: black;
    display: table-cell;
    font-family: sans-serif;
    font-size: 1em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1px;
    padding-top: 0.5em;
    text-align: inherit;
    vertical-align: top
    }
.tab2g {
    background-color: #D0E3E7;
    display: table-cell;
    font-family: sans-serif;
    font-size: 1em;
    margin-top: 0;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    text-align: inherit;
    vertical-align: top
    }
.tab2v {
    background-color: #E1DBE7;
    display: table-cell;
    font-family: sans-serif;
    font-size: 1em;
    margin-top: 0;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    text-align: inherit;
    vertical-align: top
    }
.tab2v1 {
    background-color: #E1DBE7;
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em
    }
.tab3 {
    background-color: #F9C6AB;
    display: table-cell;
    font-family: sans-serif;
    font-size: 1em;
    margin-top: 0;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    text-align: inherit;
    vertical-align: top
    }
.tab4 {
    background-color: #FBE0D0;
    display: table-cell;
    font-family: sans-serif;
    font-size: 1em;
    margin-top: 0;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    text-align: inherit;
    vertical-align: top
    }
.tab4a {
    background-color: #FDF1E7;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: black;
    display: table-cell;
    font-family: sans-serif;
    font-size: 1em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1px;
    padding-top: 0.5em;
    text-align: inherit;
    vertical-align: top
    }
.tab4li {
    background-color: #FEF1E8;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: black;
    display: table-cell;
    font-family: sans-serif;
    font-size: 1em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1px;
    padding-top: 0.5em;
    text-align: inherit;
    vertical-align: top
    }
.tab4li1 {
    background-color: #FEF1E8;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: black;
    display: table-cell;
    font-family: sans-serif;
    font-size: 1em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1px;
    padding-top: 0.5em;
    text-align: center;
    vertical-align: top
    }
.tabb {
    background-color: #FBCBAE;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 1px;
    color: black;
    display: table-cell;
    font-family: sans-serif;
    font-size: 1em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1px;
    padding-top: 0.5em;
    text-align: inherit;
    vertical-align: top
    }
.tabb1 {
    background-color: #FBCBAE;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 1px;
    color: black;
    display: table-cell;
    font-family: sans-serif;
    font-size: 1em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1px;
    padding-top: 0.5em;
    text-align: center;
    vertical-align: top
    }
.tabb2 {
    background-color: #FBCBAE;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 1px;
    color: black;
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-top: 0.5em
    }
.tabcap {
    background-color: #EB7244;
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em
    }
.tabcapg {
    background-color: #00797E;
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em
    }
.tabcapg1 {
    background-color: #558D61;
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em
    }
.tabcapv {
    background-color: #866C9C;
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em
    }
.tabg {
    background-color: #B6CCB7;
    display: table-cell;
    font-family: sans-serif;
    font-size: 1em;
    margin-top: 0;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    text-align: inherit;
    vertical-align: top
    }
.tabg1 {
    background-color: #D8E3D8;
    display: table-cell;
    font-family: sans-serif;
    font-size: 1em;
    margin-top: 0;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    text-align: inherit;
    vertical-align: top
    }
.textstyle {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.textstyle0_ {
    display: block;
    font-family: sans-serif;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.textstyle0_1 {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 1em
    }
.textstyle0_2 {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.textstyle0_3 {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.textstyle0_3b {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 1em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.textstyle0r {
    display: block;
    font-size: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: right;
    text-indent: 0
    }
.textstyle1 {
    color: #E0294E;
    font-size: 1em
    }
.textstyle1_ {
    color: #939598;
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3em;
    text-align: center;
    text-indent: 0
    }
.textstyle1_1 {
    display: block;
    font-family: sans-serif;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.textstyle1_2 {
    display: block;
    font-family: sans-serif;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5em;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.textstyle1_2a {
    display: block;
    font-family: sans-serif;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 3em;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.textstyle1_3 {
    background-color: #FCEAE8;
    color: black;
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-left: 1.5em
    }
.textstyle1_4 {
    color: #00797E;
    display: block;
    font-family: sans-serif;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.textstyle1_29a {
    background-color: #FAD8D4;
    color: black;
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-left: 1em;
    padding-top: 0.3em
    }
.textstyle1_29aa {
    background-color: #FAD8D4;
    color: black;
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-left: 1.5em
    }
.textstyle1_29ab {
    background-color: #FAD8D4;
    color: black;
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0.3em;
    padding-left: 1.5em
    }
.textstyle1_29b {
    background-color: #FCEAE8;
    color: black;
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0.3em;
    padding-left: 1.5em
    }
.textstyle1_29bb {
    background-color: #FAD8D4;
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: black;
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0.3em;
    padding-left: 1.5em
    }
.textstyle1_29q {
    background-color: #FCEAE8;
    color: black;
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-left: 1em;
    padding-top: 0.3em
    }
.textstyle1_29t {
    background-color: #FCEAE8;
    border-top-color: currentColor;
    border-top-style: solid;
    border-top-width: 1px;
    color: black;
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-left: 1em;
    padding-top: 0.3em
    }
.textstyle2 {
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.textstyle2_ {
    color: #E54760;
    display: block;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.3em;
    text-align: center;
    text-indent: 0
    }
.textstyle2_1 {
    display: block;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.textstyle2_2 {
    color: #00797E;
    font-size: 1em
    }
.textstyle3 {
    display: block;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.8em;
    text-align: left;
    text-indent: 0
    }
.textstyle3_ {
    color: #E54760;
    display: block;
    font-family: sans-serif;
    font-size: 1.83333em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.3em;
    text-align: center;
    text-indent: 0
    }
.textstyle3_1 {
    color: #00797E;
    float: left;
    margin-left: -2em
    }
.textstyle4 {
    color: #E0294E;
    float: left;
    font-family: sans-serif;
    font-size: 100%;
    font-weight: bold;
    margin-left: -2em
    }
.textstyle4_ {
    color: #B85863;
    display: block;
    font-family: sans-serif;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em;
    text-align: left;
    text-indent: 0
    }
.textstyle4_1 {
    color: #818285;
    display: block;
    font-family: sans-serif;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.textstyle4_19b {
    color: #4065AF;
    display: block;
    font-family: sans-serif;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em;
    text-align: left;
    text-indent: 0
    }
.textstyle4_19g {
    color: #1C827E;
    display: block;
    font-family: sans-serif;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em;
    text-align: left;
    text-indent: 0
    }
.textstyle4_19r {
    color: #E54760;
    display: block;
    font-family: sans-serif;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em;
    text-align: left;
    text-indent: 0
    }
.textstyle5 {
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    margin-bottom: 5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.textstyle5_ {
    display: block;
    font-family: sans-serif;
    font-size: 1em;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.textstyle5_1 {
    color: #E0294E
    }
.textstyle6 {
    color: #D99315
    }
.textstyle6_ {
    color: #00797E;
    display: block;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-align: left;
    text-indent: 0
    }
.textstyle7 {
    color: #D99315;
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.textstyle7_ {
    color: #58595B;
    font-size: 0.83333em;
    margin-top: 2.2em;
    text-align: left;
    text-indent: 0
    }
.textstyle8 {
    color: #D99315;
    float: left;
    margin-left: -1em
    }
.textstyle8_ {
    display: block;
    font-family: sans-serif;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.textstyle9 {
    color: #00797E;
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 0
    }
.textstyle9_ {
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: -2em
    }
.textstyle10 {
    color: #C74F5E;
    display: block;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.textstyle11 {
    color: #C74F5E;
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    font-weight: bold;
    margin-bottom: 0.3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.textstyle12 {
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.textstyle13 {
    display: block;
    font-family: sans-serif;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.textstyle13_ {
    color: #00797E;
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.textstyle13_2r {
    color: #C74F5E;
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.textstyle14 {
    color: #3D4A9B;
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    font-weight: bold;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.textstyle15 {
    color: #00797E;
    float: left;
    font-family: sans-serif;
    font-weight: bold;
    margin-left: -2em
    }
.textstyle16 {
    display: block;
    font-family: sans-serif;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.textstyle17 {
    color: #328ACA;
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    font-weight: bold;
    margin-bottom: 0.3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.textstyle18 {
    color: #6D6E71;
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    font-weight: bold;
    margin-bottom: 0.3em;
    margin-left: 1em;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.textstyle19 {
    color: #866C9C;
    display: block;
    font-family: sans-serif;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.textstyle20 {
    color: #6F528B;
    display: block;
    font-family: sans-serif;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-indent: 0
    }
.textstyle20_ {
    display: block;
    font-family: sans-serif;
    font-size: 1em;
    margin-bottom: 0.3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 0
    }
.textstyle21 {
    color: #6F528B;
    display: block;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.textstyle22 {
    color: #866C9C;
    display: block;
    font-family: sans-serif;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.textstyle23 {
    color: #866C9C;
    display: block;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.textstyle24 {
    color: #866C9C;
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 0
    }
.textstyle25 {
    color: #866C9C
    }
.textstyle26 {
    color: #866C9C;
    display: block;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-align: left;
    text-indent: 0
    }
.textstyle27 {
    color: #866C9C;
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.textstyle28 {
    color: #866C9C;
    display: block;
    font-family: sans-serif;
    font-size: 1em;
    margin-bottom: 0.3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.textstyle29 {
    color: #6F528B;
    float: left;
    margin-left: -1em
    }
.textstyle30 {
    color: #CC6269;
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-align: left;
    text-indent: 0
    }
.textstyle31 {
    color: #558D61;
    display: block;
    font-family: sans-serif;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.textstyle32 {
    color: #558D61;
    display: block;
    font-family: sans-serif;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-indent: 0
    }
.textstyle33 {
    color: #558D61;
    display: block;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.textstyle34 {
    color: #558D61;
    display: block;
    font-family: sans-serif;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.textstyle35 {
    color: #558D61;
    display: block;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.textstyle36 {
    color: #558D61
    }
.textstyle37 {
    color: #558D61;
    display: block;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-align: left;
    text-indent: 0
    }
.textstyle38 {
    color: #558D61;
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 0
    }
.textstyle39 {
    color: #488758;
    float: left;
    margin-left: -1em
    }
.textstyle40 {
    color: #558D61;
    display: block;
    font-family: sans-serif;
    font-size: 1em;
    margin-bottom: 0.3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.textstyle41 {
    color: #0984C8;
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-align: left;
    text-indent: 0
    }
.textstyle42 {
    color: #EB7244;
    display: block;
    font-family: sans-serif;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.textstyle43 {
    color: #EB7244
    }
.textstyle43_ {
    color: #E0294E;
    display: block;
    font-family: sans-serif;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.textstyle44 {
    color: #E74D25;
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 0
    }
.textstyle45 {
    color: #777679;
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    font-weight: bold;
    margin-bottom: 0.3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.textstyle104g {
    color: #558D61;
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.textstyle104v {
    color: #866C9C;
    float: left;
    font-family: sans-serif;
    font-weight: bold;
    margin-left: -2em
    }
.textstyle108_ {
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.textstyle120_ {
    display: block;
    font-family: sans-serif;
    margin-bottom: 0.5em;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.textstyle120_1 {
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.textstyle120_2 {
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    margin-bottom: 0.5em;
    margin-left: 1em;
    margin-right: 0;
    margin-top: 0
    }
.textstyle120_2b {
    display: block;
    font-family: sans-serif;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.textstyle120_3 {
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 1em;
    margin-right: 0;
    margin-top: 0;
    text-align: left
    }
.textstyle120_4 {
    display: block;
    font-family: sans-serif;
    font-size: 1em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.textstyle120_5 {
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    text-align: justify;
    text-indent: 0
    }
.textstyle120_6 {
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 1em
    }
.textstyle120_7 {
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    text-align: justify;
    text-indent: 0
    }
.textstyle120a {
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 1em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.textstyle120i {
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 1em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 1em
    }
.textstyle133_5a {
    color: #EB7244;
    display: block;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.textstyle136g {
    color: #488758;
    float: left;
    margin-left: -2em
    }
.textstyle146_ {
    color: #D99315;
    display: block;
    font-family: sans-serif;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-indent: 0
    }
.textstyle146_1a {
    color: #D99315;
    display: block;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-indent: 0
    }
.textstyle147_ {
    color: #E0A344;
    display: block;
    font-family: sans-serif;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.textstyle148_ {
    color: #E0A344;
    display: block;
    font-family: sans-serif;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.textstyle152_ {
    color: #D99315;
    display: block;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.textstyle152_1 {
    color: #D99315;
    display: block;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.textstyle152_1o {
    color: #E74D25;
    display: block;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.textstyle154_ {
    color: #D99315;
    display: block;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-align: left;
    text-indent: 0
    }
.textstyle155_ {
    display: block;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.textstyle156n {
    color: #D99315;
    float: left;
    font-family: sans-serif;
    font-weight: bold;
    margin-left: -2em
    }
.textstyle156o {
    color: #D46C44;
    float: left;
    font-family: sans-serif;
    font-weight: bold;
    margin-left: -2em
    }
.textstyle158_ {
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.textstyle158_1r {
    color: #777679;
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: right;
    text-indent: 0
    }
.textstyle159_ {
    color: #D99315;
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 0
    }
.textstyle168_ {
    display: block;
    font-size: 0.83333em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em
    }
.textstyle182o {
    color: #D46C44;
    float: left;
    margin-left: -1em
    }
.textstyle184_ {
    color: #00797E;
    display: block;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.textstyle184_1a {
    color: #00797E;
    display: block;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-left: 3em;
    margin-right: 0;
    margin-top: 0
    }
.textstyle184_1d {
    color: #2A7B46;
    display: block;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.textstyle184_1da {
    color: #2A7B46;
    display: block;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-left: 3em;
    margin-right: 0;
    margin-top: 0
    }
.textstyle184_1o {
    color: #E74D25;
    display: block;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.textstyle184_1oa {
    color: #E74D25;
    display: block;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-left: 3em;
    margin-right: 0;
    margin-top: 0
    }
.textstyle184_1v {
    color: #6F528B;
    display: block;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.textstyle184_1va {
    color: #6F528B;
    display: block;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-left: 3em;
    margin-right: 0;
    margin-top: 0
    }
.textstyle187_ {
    display: block;
    font-family: sans-serif;
    font-size: 1.66667em;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.textstyle188_ {
    display: block;
    font-family: sans-serif;
    font-size: 1.29167em;
    line-height: 1.2;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.textstyle191_ {
    color: #248D92;
    display: block;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.textstyle192_ {
    color: #248D92;
    display: block;
    font-family: sans-serif;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-indent: 0
    }
.textstyle193_ {
    color: #248D92;
    display: block;
    font-family: sans-serif;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.textstyle194_ {
    color: #248D92;
    display: block;
    font-family: sans-serif;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.textstyle195_ {
    color: #00797E;
    display: block;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.textstyle197g {
    color: #00797E;
    float: left;
    margin-left: -1em
    }
.textstyle208_ {
    color: #C74F5E;
    display: block;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 3em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.textstyle210_ {
    color: #C74F5E;
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    font-weight: bold;
    margin-bottom: 1em;
    margin-left: 3.75em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.textstyle215_ {
    color: #00797E;
    display: block;
    font-family: sans-serif;
    font-size: 1em;
    margin-bottom: 0.3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.textstyle222_ {
    color: #3D4A9B;
    display: block;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 3em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.textstyle225_ {
    color: #3D4A9B;
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    font-weight: bold;
    margin-bottom: 0.3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.textstyle229_ {
    color: #0079C1;
    display: block;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 3em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.textstyle232_ {
    color: #328ACA;
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    font-weight: bold;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.textstyle240_ {
    color: #00A6B2;
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    text-align: justify;
    text-indent: 0
    }
.textstyle355_ {
    color: #E74D25;
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.textstyle355_3o {
    color: #D18687;
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.textstyle359a {
    color: #EB7244;
    display: block;
    font-family: sans-serif;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-indent: 0
    }
.textstyle361_ {
    color: #EB7244;
    display: block;
    font-family: sans-serif;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.textstyle362_ {
    color: #EB7244;
    display: block;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.textstyle364_ {
    color: #EB7244;
    display: block;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-align: left;
    text-indent: 0
    }
.textstyle367_ {
    color: #ED7D50;
    display: block;
    font-family: sans-serif;
    font-size: 1em;
    margin-bottom: 0.3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.textstyle428_ {
    background-color: #D6D4D5;
    color: #E0294E;
    display: block;
    font-family: sans-serif;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 2em;
    padding-left: 1em;
    padding-top: 5em;
    text-align: left;
    text-indent: 0
    }
.toc {
    display: block;
    font-family: sans-serif;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.toc1 {
    display: block;
    font-family: sans-serif;
    font-size: 1em;
    margin-bottom: 0.5em;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.toc2 {
    display: block;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.toc3 {
    display: block;
    font-family: sans-serif;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 3em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.tocp {
    display: block;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.3em;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.vio {
    background-color: #B8AAC6;
    display: block;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em
    }
.vio1 {
    background-color: #E1DBE7;
    border-bottom-color: #6F528B;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-left-color: #6F528B;
    border-left-style: solid;
    border-left-width: 5px;
    border-right-color: #6F528B;
    border-right-style: solid;
    border-right-width: 5px;
    border-top-color: #6F528B;
    border-top-style: solid;
    border-top-width: 5px;
    display: block;
    margin-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em
    }
.vio1a {
    background-color: #B8AAC6;
    border-bottom-color: #866C9C;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-left-color: #866C9C;
    border-left-style: solid;
    border-left-width: 5px;
    border-right-color: #866C9C;
    border-right-style: solid;
    border-right-width: 5px;
    border-top-color: #866C9C;
    border-top-style: solid;
    border-top-width: 5px;
    display: block;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em
    }
.vio1aa {
    background-color: #E1DBE7;
    display: block;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em
    }
.violet {
    background-color: #E4E4F2;
    display: block;
    margin-bottom: 1em;
    margin-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em
    }
.violetp {
    background-color: #B8AAC6;
    display: block;
    padding-bottom: 7em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 5em
    }
.white {
    background-color: white;
    border-bottom-color: #00797E;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-left-color: #00797E;
    border-left-style: solid;
    border-left-width: 5px;
    border-right-color: #00797E;
    border-right-style: solid;
    border-right-width: 5px;
    border-top-color: #00797E;
    border-top-style: solid;
    border-top-width: 5px;
    display: block;
    margin-top: 3em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em
    }
.whitev {
    background-color: white;
    border-bottom-color: #6F528B;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-left-color: #6F528B;
    border-left-style: solid;
    border-left-width: 5px;
    border-right-color: #6F528B;
    border-right-style: solid;
    border-right-width: 5px;
    border-top-color: #6F528B;
    border-top-style: solid;
    border-top-width: 5px;
    display: block;
    margin-top: 3em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em
    }
.yellow {
    background-color: #FAFBE9;
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: currentColor;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: currentColor;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: currentColor;
    border-top-style: solid;
    border-top-width: 1px;
    display: block;
    font-size: 0.83333em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }
@font-face {
    font-family: "Deja";
    src: url(OEBPS/Styles/XXXXXXXXXXXXXXXX);
    font-style: normal;
    font-weight: normal
    }
@font-face {
    font-family: "Deja";
    src: url(OEBPS/Styles/XXXXXXXXXXXXXXXX);
    font-style: normal;
    font-weight: bold
    }
@font-face {
    font-family: "Deja";
    src: url(OEBPS/Styles/XXXXXXXXXXXXXXXX);
    font-style: italic;
    font-weight: normal
    }
@font-face {
    font-family: "Deja";
    src: url(OEBPS/Styles/XXXXXXXXXXXXXXXX);
    font-style: italic;
    font-weight: bold
    }

