.author {
    display: block;
    font-size: 1.29167em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 1.5em;
    margin-left: 0;
    margin-top: 2em;
    text-align: center
    }
.author1 {
    display: block;
    font-size: 0.83333em;
    font-weight: normal;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.blockquote {
    display: block;
    font-size: 1em;
    margin-bottom: 1.5em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 1.5em;
    text-align: justify;
    text-indent: 0
    }
.calibre {
    adobe-hyphenate: none;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    oeb-column-number: 1;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    display: block;
    text-align: center
    }
.calibre2 {
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    width: auto
    }
.calibre3 {
    adobe-hyphenate: none;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre4 {
    line-height: 1.2
    }
.calibre5 {
    font-style: italic;
    line-height: 1.2
    }
.calibre6 {
    font-size: 0.64516em
    }
.calibre7 {
    font-size: 0.75em
    }
.calibre8 {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto
    }
.calibre9 {
    font-style: italic
    }
.calibre10 {
    font-size: 0.77419em
    }
.calibre11 {
    color: #000;
    line-height: 1.2
    }
.calibre12 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre13 {
    font-size: 0.83333em
    }
.calibre14 {
    color: #000
    }
.calibre15 {
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
    margin-bottom: 1em;
    margin-top: 1em;
    text-indent: 0;
    width: 100%
    }
.calibre16 {
    display: table-row;
    vertical-align: middle
    }
.calibre17 {
    font-weight: bold
    }
.calibre18 {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre19 {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em
    }
.calibre20 {
    display: block;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre21 {
    display: list-item
    }
.calibre22 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.chaptitle {
    display: block;
    font-size: 1.29167em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 3em;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 10%;
    text-align: center;
    text-indent: 0
    }
.chaptitle1 {
    display: block;
    font-size: 1.29167em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 10%;
    text-align: center;
    text-indent: 0
    }
.chaptitle2 {
    display: block;
    font-size: 1.29167em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.copyright {
    display: block;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 10%;
    text-align: center
    }
.copyright1 {
    display: block;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 1.75em;
    text-align: center
    }
.copyright2 {
    display: block;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0.25em;
    text-align: center
    }
.dedication {
    display: block;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 3em;
    text-align: center
    }
.dropcap {
    float: left;
    font-size: 260%;
    font-weight: normal;
    line-height: 0.7em;
    margin-bottom: -0.3em;
    margin-right: 0.05em;
    margin-top: 0.15em;
    padding-left: 0;
    text-indent: 0
    }
.fmtitle {
    display: block;
    font-size: 1.29167em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10%;
    text-align: center
    }
.footnote {
    display: block;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-top: 0.25em;
    padding-left: 3.15em;
    text-align: justify;
    text-indent: -3.15em
    }
.footnote-i {
    display: block;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-top: 0.25em;
    padding-left: 3.15em;
    text-align: justify;
    text-indent: 1.5em
    }
.footnote-i1 {
    display: block;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-top: 1.75em;
    padding-left: 3.15em;
    text-align: justify;
    text-indent: 0
    }
.footnote1 {
    display: block;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-top: 0.25em;
    padding-left: 0;
    text-align: justify;
    text-indent: 0
    }
.halftitle {
    display: block;
    font-size: 1.29167em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10%;
    text-align: center
    }
.halftitle1 {
    display: block;
    font-size: 1.29167em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2.5em;
    text-align: center
    }
.halftitle2 {
    display: block;
    font-size: 0.83333em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 90%;
    text-align: center
    }
.hanging {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-right: 1.5em;
    margin-top: 1.5em;
    padding-left: 6em;
    text-align: left;
    text-indent: -1.5em
    }
.hanging1 {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-right: 1.5em;
    margin-top: 0;
    padding-left: 6em;
    text-align: left;
    text-indent: -1.5em
    }
.head {
    display: block;
    font-size: 1.29167em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 1.5em;
    margin-left: 0;
    margin-top: 2.5em;
    text-align: center;
    text-indent: 0
    }
.head1 {
    display: block;
    font-size: 1.29167em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 1.5em;
    margin-left: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.head2 {
    display: block;
    font-size: 1.29167em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 1.25em;
    margin-left: 0;
    margin-top: 2.5em;
    text-align: center;
    text-indent: 0
    }
.image {
    display: block;
    margin-bottom: 0;
    margin-top: 1.5em;
    text-align: center;
    text-indent: 0
    }
.indent {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.5em
    }
.indent1 {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-top: 1.5em;
    text-align: justify;
    text-indent: 1.5em
    }
.index {
    display: block;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 1.5em;
    padding-left: 1.5em;
    text-align: left;
    text-indent: -1.5em
    }
.index1 {
    display: block;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-right: 0;
    padding-left: 1.5em;
    padding-top: 0.3em;
    text-align: left;
    text-indent: -1.5em
    }
.noindent {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.noindent1 {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-top: 1.5em;
    text-align: justify;
    text-indent: 0
    }
.noindent2 {
    display: block;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-top: 3em;
    text-align: justify;
    text-indent: 0
    }
.notehead {
    display: block;
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-top: 3em;
    text-align: center;
    text-indent: 0
    }
.numlist {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-right: 1em;
    margin-top: 1.5em;
    padding-left: 2.5em;
    text-align: left;
    text-indent: -1.25em
    }
.numlist1 {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-right: 1em;
    margin-top: 0.25em;
    padding-left: 2.5em;
    text-align: left;
    text-indent: -1.25em
    }
.publisher {
    display: block;
    font-size: 0.83333em;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 8em;
    text-align: center
    }
.publisher1 {
    display: block;
    font-size: 0.83333em;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0.25em;
    text-align: center
    }
.ref {
    display: block;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-top: 0.25em;
    padding-left: 1.5em;
    text-align: justify;
    text-indent: -1.5em
    }
.ref-t {
    display: block;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-top: 1.75em;
    padding-left: 1.5em;
    text-align: justify;
    text-indent: -1.5em
    }
.right {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-top: 1.5em;
    text-align: right;
    text-indent: 0
    }
.right1 {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-top: 0;
    text-align: right;
    text-indent: 0
    }
.table-left {
    display: table-cell;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0.2em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-top: 0.2em;
    text-align: left;
    text-indent: 0;
    vertical-align: top;
    width: 30%
    }
.table-left1 {
    display: table-cell;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0.2em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-top: 0.2em;
    text-align: left;
    text-indent: 0;
    vertical-align: top;
    width: 70%
    }
.table-left2 {
    display: table-cell;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0.2em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-top: 0.2em;
    text-align: left;
    text-indent: 0;
    vertical-align: top
    }
.table-left3 {
    display: table-cell;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 1px;
    padding-left: 1em;
    padding-right: 1px;
    padding-top: 1px;
    text-align: left;
    text-indent: 0;
    vertical-align: top
    }
.titlepage {
    display: block;
    font-size: 2em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    text-align: center
    }
.titlepage1 {
    display: block;
    font-size: 1.29167em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 1em;
    padding-bottom: 0;
    text-align: center
    }
.titlepage2 {
    display: block;
    font-size: 1.29167em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 3em;
    padding-bottom: 0;
    text-align: center
    }
.toc {
    display: block;
    font-size: 0.83333em;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0.15em;
    padding-left: 0;
    text-align: center;
    text-indent: 0
    }
.toc1 {
    display: block;
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-top: 1.5em;
    text-align: center;
    text-indent: 0
    }
.toc2 {
    display: block;
    font-size: 0.83333em;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 1.5em;
    padding-left: 0;
    text-align: center;
    text-indent: 0
    }
.pcalibre:link {
    color: #00F;
    font-size: 100%;
    text-decoration: none;
    word-wrap: break-word
    }
.pcalibre2:hover {
    color: #936;
    font-size: 100%;
    text-decoration: none
    }
.pcalibre1:active {
    color: #00F;
    font-size: 100%;
    text-decoration: none
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

